apiVersion: v1
kind: Service
metadata:
  name: frontend
  labels:
    app: taskflow
    component: frontend
    managed-by: kustomize
spec:
  type: ClusterIP
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 3000
  selector:
    app: taskflow
    component: frontend
